/* Universal Styles */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.content-wrapper {
    width: 80%;
}

/* Header */

header {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#logo {
    width: 33.3%;
}

/* Hero Image */

#hero {
    width: 100%;
    height: 250px;
    background: url("images/hero-mobile.jpg") no-repeat;
    background-size: cover;
}

/* Info */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.375em;
    letter-spacing: 14px;
    line-height: 40px;
    color: hsl(0, 36%, 70%);
    margin: 65px 0 30px 0;
}

h1 span {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

#info p {
    color: hsl(0, 36%, 70%);
    line-height: 24px;
    font-size: 0.9em;
    margin: 0 0 40px 0;
}

/* Form */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

input {
    width: 80%;
    height: 42px;
    border-color: black;
    border-radius: 46px;
    border: 1px solid #f2dedf;
    background: none;
    text-indent: 24px;
}

::placeholder {
    color: #f2dedf;
}

button {
    width: 60px;
    height: 46px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 46px;
    border: none;
    margin-left: -60px;
    box-shadow: 0px 7px 15px 0px hsl(0, 80%, 86%);
}

/******************** Media Queries *********************/

/* Desktop and tablet styles */

@media only screen and (min-width: 768px) {
    
    body {
        background: url("images/bg-pattern-desktop.svg") no-repeat, linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section {
        height: 100%;
    }

    /* Header */

    header {
        z-index: -1;
        background: none;
        justify-content: flex-start;
    }

    header .content-wrapper {
        width: 21%;
        display: flex;
        justify-content: flex-end;
        margin: 65px 0 0 0;
    }

    #logo {
        width: 48.5%;
    }

    /* Hero Image */

    #hero {
        order: 2;
        width: 42.36%;
        height: 800px;
        background: url("images/hero-desktop.jpg") no-repeat;
        margin-top: -84px;
    }


    /* Info */

    main .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 42.36%;
    }

    #info {
        width: 73.77%;
        text-align: justify;
    }

    h1 {
        margin: 0;
        font-size: 3.75em;
        line-height: 1.2em;
    }

    #info p {
        font-size: 1em;
        text-align: left;
    }


    /* Form */

    form {
        width: 73.77%;;
    }

    input {
        width: 100%;
    }

    /* Footer */

    footer {
        margin-top: -33px;
    }

    .attribution {
        width: 57.63%;
    }


  }